.body {
  margin: 20px;
}

@media screen and (min-width: 400px) {
  .body {
    margin: 30px;
  }
}

.post-content {
  display: block;
  width: 100%;
}

.button {
  width: 60px;
  margin: 15px 0;
}

.nav-item {
  cursor: pointer;
}
