html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: white;
}

.body {
  margin: 20px;
  position: relative;
  z-index: 1;
  color: white;
}

h1 {
  font-size: 2.8rem;
  margin-bottom: 15px;
}

a {
  color: rgba(255, 255, 255, 0.654);
}

a:hover {
  color: white;
}

.navbar {
  position: relative;
  left: 0px;
  width: 100vw;
  z-index: 1;
  padding: 20px;
  padding-left: 30px;
  color: white;
  background-color: rgba(44, 44, 47, 0.734) !important;
}

.navbar-brand {
  font-size: 3.2rem;
  margin-right: 30px;
  margin-bottom: 6px;
  font-weight: 700;
  background-image: linear-gradient(to top, rgb(120, 237, 252), #4a50ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 400px) {
  .body {
    margin: 30px;
  }
}

@media screen and (min-width: 1000px) {
  body {
    width: 1000px;
    margin: 0 auto;
  }
  .navbar {
    left: calc(-50vw + 500px);
    /* width: 100vw; */
   padding-left: calc(50vw - 475px);
  }
}

.post-container,
#new-post-form {
  padding: 20px;
  margin: 15px 0;
  border: 1px solid rgba(218, 218, 255, 0.285);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px); /* Apply a blur to create the frosted effect */
}

.post-container:hover {
  backdrop-filter: blur(20px); /* Apply a blur to create the frosted effect */
  background: rgba(255, 255, 255, 0.15);
}

#new-post-form {
  box-shadow: 0 20px 40px rgba(70, 52, 177, 0.553);
  margin-bottom: 20px;
  border-color: rgba(255, 255, 255, 0.446);
}

.post-content {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid rgb(174, 174, 174);
  font-size: 1.4rem;
  border-radius: 5px;
  color: white;
  background: rgba(0, 0, 0, 0.464);
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.654);
}

.navbar-toggler-icon {
  background-image: url("../icons/menu.svg");
  filter: invert(80%);
}

.post-content::placeholder {
  color: rgb(137, 137, 137);
}

.post-content--edit {
  margin-top: 5px;
}

.post-item-content {
  margin-top: 5px;
}

.post-deleted {
  animation: post-deletion 1.5s linear forwards;
}

@keyframes post-deletion {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    height: 232px;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid rgb(218, 218, 255);
  }
  100% {
    opacity: 0;
    height: 0px;
    padding: 0;
    margin: 0;
    border: 0;
  }
}

.post-content:focus {
  border: 1px solid rgb(186, 186, 255);
  outline: none;
}

.post-date {
  font-size: 1.2rem;
  color: rgb(145, 145, 145);
}

.poster {
  color: rgb(135, 135, 255);
  font-weight: 500;
  cursor: pointer;
}

.poster:hover {
  text-decoration: none;
  font-weight: 700;
}

.button {
  display: block;
  width: 65px;
  padding-bottom: 4px;
  margin: 15px 0;
  font-size: 1.4rem;
}

.button--post {
  margin-bottom: 0;
}

.buttons-container {
  display: flex;
  align-items: center;
}

.button--edit {
  width: 80px;
  margin-left: 0;
}

.button--delete {
  width: 95px;
  margin-left: 10px;
}

.like-container {
  width: 40px;
  display: flex;
  align-items: center;
}

.like-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 1px;
  margin-right: 4px;
  background: url("../icons/heart.svg") center/cover no-repeat;
  filter: invert(19%) sepia(99%) saturate(5628%) hue-rotate(359deg)
    brightness(104%) contrast(125%);
  transition: background-image 0.5s linear;
  cursor: pointer;
}
.like-icon.liked {
  background: url("../icons/heart-filled.svg") center/cover no-repeat;
  animation: liking 0.5s ease-in forwards;
}
.like-icon.broken {
  background: url("../icons/heart-broken.svg") center/cover no-repeat;
  animation: shaking 0.5s ease-in forwards;
}

@keyframes liking {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shaking {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(3px);
  }
  75% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0px);
  }
}

.nav-item {
  cursor: pointer;
}

.nav-link {
  margin: 0 6px;
}

#nav-link-username {
  margin: 0;
  margin-left: 6px;
  color: rgb(23, 162, 184);
}

#nav-link-username:hover {
  margin: 0;
  margin-left: 6px;
  color: rgb(54, 206, 230);
}

.error-msg {
  width: 330px;
  padding: 3px 10px;
  margin-top: 10px;
  line-height: 25px;
  background-color: rgb(255, 166, 166);
  color: rgb(130, 0, 0);
  border: 1px solid red;
  border-radius: 5px;
  animation: error-fading 2s linear forwards;
}

@keyframes error-fading {
  0% {
    opacity: 1;
    transform: scaleY(1);
    height: 35px;
  }
  90% {
    opacity: 0.7;
    transform: scaleY(1);
    height: 35px;
  }
  100% {
    opacity: 0;
    transform: scaleY(0);
    height: 0px;
  }
}

.follow-data {
  padding-left: 10px;
  padding-bottom: 20px;
}
.user-data-container {
  position: relative;
  top: 0px;
  left: 150px;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.user-data {
  display: flex;
}

.user-data-item {
  margin: 10px;
}

.user-avatar-img {
  position: absolute;
  top: 0px;
  left: -135px;
  border-radius: 50%;
  outline: 2px solid #00b5d1;
}

.button--profile {
  margin: 10px;
}

.button-pagination-container {
  display: flex;
  align-items: center;
  margin: 45px 0 15px;
}

.button-pagination {
  display: flex;
  width: 60px;
  margin: 10px;
  padding-left: 10px;
  font-size: 1.4rem;
}

.button-pagination:disabled {
  background-color: rgb(175, 175, 175);
  border-color: rgb(168, 168, 168);
  cursor: default;
  opacity: 1;
}

.page-info {
  display: inline-block;
  width: 110px;
  margin: 0 5px;
  text-align: center;
}

.pagination-icon {
  display: inline-block;
  position: relative;
  top: 4px;
  left: -2px;
  width: 10px;
  height: 14px;
  background: url("../icons/chevron-left.svg") center/cover no-repeat;
}

.pagination-icon--next {
  left: 5px;
  background: url("../icons/chevron-right.svg") center/cover no-repeat;
}

.input--avatar {
  position: relative;
  display: none;
}

.label--avatar {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 55px;
  top: 80px;
  left: -70px;
  cursor: pointer;
  padding: 2px 4px;
  color: white;
  font-size: 1.2rem;
  border: 1px solid rgb(146, 146, 146);
  background-color: #007b8e;
  border-radius: 4px;
}
.label-text--avatar {
  margin: 0;
}

.icon--edit-avatar {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("../icons/edit.svg") center/cover no-repeat;
  filter: invert(100%);
}

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
}
.background li {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #8487d4;
  color: transparent;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 22s ease-in forwards infinite;
}
.background li:nth-child(0) {
  animation-delay: 0s;
  left: 47vw;
  top: 39vh;
  border-color: #a1a5ff;
}

.background li:nth-child(1) {
  animation-delay: 2s;
  left: 53vw;
  top: 92vh;
}

.background li:nth-child(2) {
  animation-delay: 4s;
  left: 74vw;
  top: 73vh;
}

.background li:nth-child(3) {
  animation-delay: 6s;
  left: 30vw;
  top: 22vh;
}

.background li:nth-child(4) {
  animation-delay: 8s;
  left: 9vw;
  top: 60vh;
  border-color: #a1a5ff;
}

.background li:nth-child(5) {
  animation-delay: 10s;
  left: 87vw;
  top: 53vh;
}

.background li:nth-child(6) {
  animation-delay: 12s;
  left: 28vw;
  top: 84vh;
}

.background li:nth-child(7) {
  animation-delay: 14s;
  left: 93vw;
  top: 9vh;
  border-color: #a1a5ff;
}

.background li:nth-child(8) {
  animation-delay: 16s;
  left: 10vw;
  top: 49vh;
}

.background li:nth-child(9) {
  animation-delay: 18s;
  left: 61vw;
  top: 14vh;
  border-color: #a1a5ff;
}
