html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
}

.body {
  margin: 20px;
}

h1 {
  font-size: 2.8rem;
  margin-bottom: 15px;
}

.navbar {
  padding: 20px;
  padding-left: 30px;
}

.navbar-brand {
  font-size: 2.8rem;
  margin-right: 30px;
  margin-bottom: 6px;
}

@media screen and (min-width: 400px) {
  .body {
    margin: 30px;
  }
}

.post-container,
#new-post-form {
  padding: 20px;
  margin: 10px 0;
  border: 1px solid rgb(218, 218, 255);
  border-radius: 5px;
  box-shadow: rgb(169, 169, 233) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: white;
}

.post-container:hover {
  background-color: rgb(250, 250, 255);
}

#new-post-form {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(186, 186, 255, 0.322) 0px 8px 24px,
    rgba(186, 186, 255, 0.322) 0px 16px 56px;
  margin-bottom: 20px;
  border-color: rgb(234, 234, 234);
}

.post-content {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid rgb(174, 174, 174);
  font-size: 1.4rem;
  border-radius: 5px;
}

.post-content--edit {
  margin-top: 13px;
}

.post-item-content {
  margin-top: 10px;
}

.post-deleted {
  animation: post-deletion 1.5s linear forwards;
}

@keyframes post-deletion {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    height: 232px;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid rgb(218, 218, 255);
  }
  100% {
    opacity: 0;
    height: 0px;
    padding: 0;
    margin: 0;
    border: 0;
  }
}

.post-content:focus {
  border: 1px solid rgb(186, 186, 255);
  outline: none;
}

.post-date {
  font-size: 1.2rem;
  color: rgb(91, 91, 91);
}

.poster {
  color: rgb(91, 91, 255);
  font-weight: 500;
  cursor: pointer;
}

.poster:hover {
  text-decoration: none;
  font-weight: 700;
}

.button {
  display: block;
  width: 65px;
  padding-bottom: 4px;
  margin: 15px 0;
  font-size: 1.4rem;
}

.button--post {
  margin-bottom: 0;
}

.buttons-container {
  display: flex;
  align-items: center;
}

.button--edit {
  width: 75px;
  margin-left: 0;
}

.button--delete {
  width: 95px;
  margin-left: 10px;
}

.like-container {
  width: 40px;
  display: flex;
  align-items: center;
}

.like-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 1px;
  margin-right: 4px;
  background: url("../icons/heart.svg") center/cover no-repeat;
  filter: invert(19%) sepia(99%) saturate(5628%) hue-rotate(359deg)
    brightness(104%) contrast(125%);
  transition: background-image 0.5s linear;
  cursor: pointer;
}
.like-icon.liked {
  background: url("../icons/heart-filled.svg") center/cover no-repeat;
  animation: liking 0.5s ease-in forwards;
}
.like-icon.broken {
  background: url("../icons/heart-broken.svg") center/cover no-repeat;
  animation: shaking 0.5s ease-in forwards;
}

@keyframes liking {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shaking {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(3px);
  }
  75% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0px);
  }
}

.nav-item {
  cursor: pointer;
}

#nav-link-username {
  margin: 0;
}

.error-msg {
  width: 330px;
  padding: 3px 10px;
  margin-top: 10px;
  line-height: 25px;
  background-color: rgb(255, 166, 166);
  color: rgb(130, 0, 0);
  border: 1px solid red;
  border-radius: 5px;
  animation: error-fading 2s linear forwards;
}

@keyframes error-fading {
  0% {
    opacity: 1;
    transform: scaleY(1);
    height: 35px;
  }
  90% {
    opacity: 0.7;
    transform: scaleY(1);
    height: 35px;
  }
  100% {
    opacity: 0;
    transform: scaleY(0);
    height: 0px;
  }
}

.follow-data {
  padding-left: 10px;
  padding-bottom: 20px;
}
.user-data-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.user-data {
  position: relative;
  top: 0px;
  left: 150px;
  display: flex;
}

.user-data-item {
  margin: 10px;
}

.user-avatar {
  position: absolute;
  top: 120px;
  left: 30px;
  border-radius: 50%;
  border: 1px solid rgb(232, 230, 255);
}

.button--profile {
  margin: 10px;
}

.button-pagination-container {
  display: flex;
  align-items: center;
  margin: 45px 0 15px;
}

.button-pagination {
  display: flex;
  width: 60px;
  margin: 10px;
  font-size: 1.4rem;
}

.button-pagination:disabled {
  background-color: rgb(175, 175, 175);
  border-color: rgb(168, 168, 168);
  cursor: default;
}

.page-info {
  display: inline-block;
  width: 110px;
  margin: 0 5px;
  text-align: center;
}

.pagination-icon {
  display: inline-block;
  position: relative;
  top: 4px;
  left: -4px;
  width: 10px;
  height: 14px;
  background: url("../icons/chevron-left.svg") center/cover no-repeat;
}

.pagination-icon--next {
  left: 5px;
  background: url("../icons/chevron-right.svg") center/cover no-repeat;
}
